*{
    box-sizing: border-box;
    /* margin: 0px;
    padding: 0px;
     */
  } 

  
  
  nav {
    width: 100%;
   overflow: auto;
   background: #3f1817;
   padding: 10px;
   margin-top: -8px;
 }
 body{
   background-color:#edd7be;
 }

 html{
    scroll-behavior: smooth;
 }
 .logo img {
   position: absolute;
   margin-top: -229px;
   margin-left: -850px;
   height: fit-content;
 }
 
 ul {
   padding: 0;
   margin: 0 0 0 300px;
   list-style: none;
 }
 
 li {
   float: left;
 }
 
 .dropdownmenu ul,
 .dropdownmenu li {
   margin: 0;
   padding: 0;
 }
 
 .dropdownmenu li {
   float: left;
   width: auto;
 }
 
 .dropdownmenu a {
   color: #d1a46e;
   display: block;
   font-weight: 500;
   font-size: 20px;
   padding: 15px 55px;
   text-align: center;
   text-decoration: none;
   transition: all 0.25s ease;
 }
 
 .dropdownmenu li:hover a {
   background-color: #3f1817;
 }
 
 #submenu {
   left: 0;
   opacity: 0;
   position: absolute;
   top: -70px;
   visibility: hidden;
   /* z-index: 1; */
   color: #3f1817;
 }
 
 li:hover ul#submenu {
   opacity: 1;
   top: 50px;
   visibility: visible;
 }
 
 #submenu li {
   float: none;
   width: 100%;
   position: relative;
 }
 
 #submenu a:hover {
   background: #edd7be;
   border: 2px solid #542827;
  color: #542827;
 }
 
 #submenu a {
   background: #3f1817;
 }
 
 #submenu2 {
   left: 0;
   opacity: 0;
   position: absolute;
   top: -70px;
   visibility: hidden;
   /* z-index: 1; */
   color: #3f1817;
 }
 
 li:hover ul#submenu2 {
   opacity: 1;
   top: 50px;
   visibility: visible;
   /* position: relative; */
 }
 
 #submenu2 li {
   float: none;
   width: 100%;
   position: relative;
 }
 
 #submenu2 a:hover {
   background: #edd7be;
   border: 2px solid #542827;
  color: #542827;
 }
 
 #submenu2 a {
   background: #3f1817;
 }
 
 #submenu3 {
   left: 0;
   opacity: 0;
   position: absolute;
   top: -70px;
   visibility: hidden;
   /* z-index: 1; */
   color: #3f1817;
 }
 
 li:hover ul#submenu3 {
   opacity: 1;
   top: 50px;
   visibility: visible;
   /* position: relative; */
 }
 
 #submenu3 li {
   float: none;
   width: 100%;
   position: relative;
 }
 
 #submenu3 a:hover {
   background: #edd7be;
   border: 2px solid #542827;
  color: #542827;
 }
 
 #submenu3 a {
   background: #3f1817;
 }
.head{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #542827;
  


}
.head h1{
    margin-top: 80px;

}
abc{
    color: red;

}
.head p{
    font-weight: 500;
    font-size: 20px;
    margin-top: -20px;
    
}
/* -------------------------------------------------------content------------------------------------------------------------- */
.content{
    background-color: #f1e1cf;
    height: 2550px;
    margin-top: 60px;
    /* display: flex; */

}
/* ---------------------------------------------------side white box --------------------------------------------------- */
.box1{
    background-color: aliceblue;
    height: 240px;
    width: 350px;
    margin-left: 3rem;
    margin-top: 5rem;
    border-radius: 20px;
    display: block;
    position: fixed;

/* padding-top: 90px; */


}

.a a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #542827;
    height: 50px;
    padding-top: 13px;
    padding-left: 10px;
    display: block;
    margin-bottom: -40px;
}
/* ----------------to highlight the text ------------------------ */
.a .pp:hover{                                          
    background-color:#d1a46e;
    border-radius: 20px 20px 0px 0px;
}
.a .id:hover{
    background-color: #d1a46e;
}    
.a .de:hover{
    background-color: #d1a46e;

}
.a .ci:hover{
    background-color: #d1a46e;
    border-radius: 0px 0px 20px 20px;
}
/* --------------------------------------------------------pricing plans heading --------------------------------------------- */
.text h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #542827;
    margin-left: 600px;
    margin-top: 70px;
}
xyz{
    color: red;

}
/* -------------------------------------------------pricing plans paragraph ----------------------------------------- */

.text p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #542827;
    margin-left: 600px;
    margin-top: -40px;
  
}
/* ---------------------------------------------content box2 ---------------------------------------------- */
.con{
  
    background-color: aliceblue;
    height: 600px;
    width: 900px;
    margin-top: 60px;
    margin-left: 570px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px gray;

}
/* ----------------------------------------------------heading get custom pricing ---------------------------------------- */
.con h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #542827;
    margin-left: 24px;
    margin-top: 24px;
}
pqr{
    color: red;
}
/* ----------------------------------------------- enquirebutton ------------------------------------------- */
.con button{
    display: block;
    margin-left: 713px;
    margin-top: -51px;
}
/* ----------------------------------------------------list of items in insta baby shoot -------------------------- */
.con p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 40px;
    color: #542827;
    margin-top: 40px;
    margin-top: 40px;
    display: list-item;
}
/* ------------------------------------------------------offer price --------------------------------------------- */
.con h4{
    font-size:15;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #d21613;
    margin-left: 30px;
    margin-top: -1px;
    margin-bottom: -31px;
    
}
/* ---------------------------------------------------------- prices --------------------------------------------------- */
.con del{
    font-size:10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #9e9696;
    margin-left:30px;
    margin-top: 7px;
    display: block;
}
/* ----------------------------------------------------ideas ------------------------------------------------------------------- */
.id h3{
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 00;
    color: #542827;
    margin-left: 583px;
    

}
jik{
    color: #d21613;
}
/* -----------------------------------------------------ideas para ---------------------------------------------------------- */
.id p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #542827;
    margin-left: 583px;
    margin-top: -20px;
    
}
/* ------------------------------------------photos to come in order --------------------------------------------- */
.flex{
    display: flex;
    margin-left:583px;
    
}
.ph{
    display: flex;
    margin-left:583px; 
    margin-top: 30px;
}
.de h3{
 
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 00;
    color: #542827;
    margin-left: 583px;

}
.de p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #542827;
    margin-left: 583px;
    margin-top: -20px;
}
qwe{
    color: #d21613;
}
.ci h3{
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 00;
    color: #542827;
    margin-left: 583px;
}
lkj{
    color:#d21613;
}
.ci p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #542827;
    margin-left: 583px;
    margin-top: -20px;
}
.ic p{
    width: 80px;
    height: 20px;
    background-color: #542827;
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
}
/* ----------------------------------------------booknowbuton--------------------------------------------------- */
button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid black;
    background-color: transparent;
    margin-top: 15px;
    margin-left: 53px;

}
button:hover{
    background-color: #d21613;
    cursor: pointer;
    box-shadow: 0px 0px 2px #d21613 ;
    color: aliceblue;
}
h5{
    font-size: 29px;
    color: #542827;
    margin-top: -25px;
    margin-left: 94px;
    margin-bottom: 26px;
}
.s button{
    display: block;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size: 15px;
    border: 1px solid black;
    background-color: #d21613;
    margin-top: 800px;
    margin-left: 700px;

}

h4{
    font-size: 29px;
    color: #542827;
    margin-top: -35px;
    margin-left: 700px;
    margin-bottom: 26px;
}
/* ---------------------------------------------Cities--------------------------------------- */

.city img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 758px;
    margin-top: -95px;
}


.city p{
    font-weight: bold;
     color: #542827;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 89px;
    margin-bottom: 12px;
}
.dabba1{
    display: flex;
}


.sec{
    display: flex;
    margin-top: -1px;
    
}

.thi{
    display: flex;
    margin-top: -1px;
   
}

.forth{
    display:flex;
    margin-top: -1px;
    
}
